<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
    {% block header %}
    <title>Carrito de Compra</title>
    {% endblock header %}
</head>


{% block title %}
<body class="profile-color cbc" style="padding-top: 100px;">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'alert-success' %}
    <script>
        Swal.fire({
            "icon": "success",
            "text": "{{ message }}",
            "confirmButtonColor": "#15AE00"
        });
    </script>
    {% elif message.tags == 'alert-danger' %}
    <script>
        Swal.fire({
            "icon": "error",
            "text": "{{ message }}",
            "confirmButtonColor": "#FF0000"
        });
    </script>
    {% elif message.tags == 'alert-warning' %}
    <script>
        Swal.fire({
            "icon": "warning",
            "text": "{{ message }}",
            "confirmButtonColor": "#FFC107"
        });
    </script>
    {% else %}
    <script>
        Swal.fire({
            "icon": "info",
            "text": "{{ message }}",
            "confirmButtonColor": "#007BFF"
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock title %}

    <!-- Carrito -->
    {% block body %}
    <div class="container">
        <div class="row justify-content-center ttjenevers pb-5 mb-5 pb-md-5 mb-md-4 pb-lg-2 mb-lg-3">
            <div class="card col-lg-8 m-lg-5 mx-auto col-md-10 col-12 cce">
                <div class="card-body px-lg-4 px-1">
                    <h3 class="card-title vogue py-3">Carrito de compra</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in listado %}
                                    <tr>
                                        <td><a href="{% url 'product1' d.producto.id_prod %}">{{ d.producto.prod_nom }}</a></td>
                                        <td>
                                            <form action="{% url 'actualizarStock' d.id_detalle %}" method="POST" id="cart-form">
                                                {% csrf_token %}
                                                <input type="number" class="mx-2" value="{{ d.de_cantidad }}" name="cantidad">
                                                <button type="button" class="btn btn-danger btn-sm">Guardar</button>
                                            </form>
                                        </td>
                                        <td>{{ d.producto.prod_precio }}</td>
                                        <td>{{ d.de_subtotal }}</td>
                                        <td>
                                            <a type="button" href="{% url 'eliminarDetalle' d.id_detalle %}" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Subtotal</strong></td>
                                        <td colspan="2">$ {{ subtotal }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Impuesto</strong></td>
                                        <td colspan="2">$ {{ impuesto }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Costo de Envio</strong></td>
                                        <td colspan="2">$ {{ costo_envio }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Total</strong></td>
                                        <td colspan="2">$ {{ total }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-1 text-end">
                                                <a type="button" href="{% url 'realizarCompra' total %}"
                                                    class="btn btn-custom rounded-0 btn-lg px-md-5">Comprar</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
    <!--------------------------------------------------------------------------------------------------------->
</body>

</html>