<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
    {% block header %}
    <title>Carrito de Compra</title>
    {% endblock header %}
</head>


{% block title %}
<body class="profile-color cbc" style="padding-top: 100px;">
{% endblock title %}

    <!-- Carrito -->
    {% block body %}
    <div class="container">
        <div class="row justify-content-center ttjenevers pb-5 mb-5 pb-md-5 mb-md-4 pb-lg-2 mb-lg-3">
            <div class="card col-lg-8 m-lg-5 mx-auto col-md-10 col-12 cce">
                <div class="card-body px-lg-4 px-1">
                    <h3 class="card-title vogue py-3">Carrito de compra</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in listado %}
                                    <tr>
                                        <td>{{ d.producto.prod_nom }}</td>
                                        <td>
                                            <span class="mx-2">{{ d.de_cantidad }}</span>
                                        </td>
                                        <td>{{ d.producto.prod_precio }}</td>
                                        <td>{{ d.de_subtotal }}</td>
                                        <td>
                                            <a type="button" href="{% url 'eliminarDetalle' d.id_detalle %}" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Subtotal</strong></td>
                                        <td colspan="2">$ {{ subtotal }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Impuesto</strong></td>
                                        <td colspan="2">$ {{ impuesto }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Total</strong></td>
                                        <td colspan="2">$ {{ total }} CLP</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-1 text-end">
                                                <a type="button" href=""
                                                    class="btn btn-custom rounded-0 btn-lg px-md-5">Comprar</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
    <!--------------------------------------------------------------------------------------------------------->
    <!-- Footer -->
    {% block foot %}
    <footer class="py-5 border-footer-custom-1">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h4 class="text-uppercase mb-4 ttmoons-black">Oasis Verde</h4>
                </div>
            </div>
            <div class="row justify-content-center d-md-none">
                <div class="col-12">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                    <h5 class="text-uppercase mb-0 title-15 letter-gray mt-4">Sobre nosotros</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">Nuestros valores</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center d-none d-md-flex">
                <div class="col-6 col-md-2">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Sobre nosotros</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock foot %}
</body>

</html>