<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
	{% block header %}
	<title>Olvide Mi Contraseña</title>
	{% endblock header %}
</head>

<body>
	{% block title %}
	<style>
		body {
			padding-top: 100px;
			background-color: #EDEDED;
		}
	</style>
		{% if messages %}
		{% for message in messages %}
		{% if message.tags == 'alert-success' %}
		<script>
			Swal.fire({
				"icon": "success",
				html: "{{ message|safe }}",
				"confirmButtonColor": "#15AE00"
			});
		</script>
		{% elif message.tags == 'alert-danger' %}
		<script>
			Swal.fire({
				"icon": "error",
				"text": "{{ message }}",
				"confirmButtonColor": "#FF0000"
			});
		</script>
		{% elif message.tags == 'alert-warning' %}
		<script>
			Swal.fire({
				"icon": "warning",
				"text": "{{ message }}",
				"confirmButtonColor": "#FFC107"
			});
		</script>
		{% else %}
		<script>
			Swal.fire({
				"icon": "info",
				"text": "{{ message }}",
				"confirmButtonColor": "#007BFF"
			});
		</script>
		{% endif %}
		{% endfor %}
		{% endif %}
	{% endblock title %}

	{% block body %}
	<div class="container col-md-5 col-sm-8 col-10 card rounded-0 p-md-4 mt-5 p-3">
		<h2 class="vogue mb-3">¿Has olvidado tu contraseña?</h2>
		<form action="{% url 'change_pssw_commit' %}" method="POST"> 
			{% csrf_token %}
            <div class="col-12 col-xxl-12 mb-3">
                <input type="text" class="form-control rounded-0 border-custom-2" id="username"
                name="username" value="{{usuario.c_alias}}" readonly>
             </div>
            <div class="col-12 col-xxl-12 mb-3">
                <label for="alias" class="form-label me-3"><strong>Contraseña nueva:</strong></label>
                <input type="password" class="form-control rounded-0 border-custom-2" id="clave_nueva"
                   name="clave_nueva" placeholder="Nueva contraseña">
             </div>
             <div class="col-12 col-xxl-12 mb-3">
                <label for="alias" class="form-label me-3"><strong>Confirmar Contraseña:</strong></label>
                <input type="password" class="form-control rounded-0 border-custom-2" id="clave_nueva_conf"
                   name="clave_nueva_conf" placeholder="Confirmar nueva contraseña">
             </div>
			<p class="warnings mt-2" id="pi-w2"></p>
			<button type="submit" class="btn btn-custom rounded-0 btn-hover" id="po-btn"> 
					Confirmar
			</button>
		</form>
	</div>
	{% endblock body %}

	<!-- Jquerry JS-->
	{% block js %}
	{% endblock js %}

</body>

</html>