<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
    {% block header %}
    <title>Confirmar Compra</title>
    {% endblock header %}
</head>

<body>
	{% block title %}
	<style>
		body {
			padding-top: 100px;
			background-color: #EDEDED;
		}
	</style>
	{% endblock title %}
    
    {% block body %}
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Confirmar Compra</a>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container py-5 ttjenevers">
        <div class="row">
            <div class="col-lg-8">
                <!-- Detalles de la compra -->
                <div class="card mb-3">
                    <div class="card-header">
                        Detalles de la compra
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center p-2 border-bottom">
                            <div class="col-md-9 d-flex">
                                <img src="{% static 'core/img/prod2.jpg' %}" alt="prod3"
                                    class="img-icon me-3 history-border">
                                <div class="col">
                                    <h5 class="mb-1">En menos de 4 Días</h5>
                                    <p class="mb-0">Pala Manual FiberComp® 100S</p>
                                    <p class="mb-0">Cant: 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center p-2 border-bottom">
                            <div class="col-md-9 d-flex">
                                <img src="{% static 'core/img/prod3.jpg' %}" alt="prod2"
                                    class="img-icon me-2 history-border">
                                <div class="col">
                                    <h5 class="mb-1">Antes del 11 de Abril</h5>
                                    <p class="mb-0">Pistola Riego Plástica con Gatillo Trasero 100S</p>
                                    <p class="mb-0">Cant: 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center p-2 border-bottom">
                            <div class="col-md-9 d-flex">
                                <img src="{% static 'core/img/prod1.jpg' %}" alt="prod1"
                                    class="img-icon me-2 history-border">
                                <div class="col">
                                    <h5 class="mb-1">Antes del 15 de Abril</h5>
                                    <p class="mb-0">Tijeras de Podar</p>
                                    <p class="mb-0">Cant: 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Información del envío -->
                <div class="card mb-3">
                    <div class="card-header">
                        Información del envío
                    </div>
                    <div class="card-body">
                        <!-- Aquí van los detalles de envío, como la dirección de entrega, el método de envío, etc. -->
                        <div class="row align-items-center p-2 border-bottom">
                            <div class="col-md-9 d-flex">
                                <i class="fa-sharp fa-solid fa-truck me-3 mt-2" style="color: #000000;"></i>
                                <div class="col">
                                    <p class="mb-0">Envío a:</p>
                                    <h5 class="mb-1">Luis Martinez 6218, Conchalí,
                                        Conchalí, RM (Metropolitana)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Información del pago -->
                <div class="card mb-3">
                    <div class="card-header">
                        Información del pago
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center p-2 border-bottom">
                            <div class="col-md-9 d-flex">
                                <i class="fa-sharp fa-solid fa-credit-card me-3 mt-2" style="color: #000000;"></i>
                                <div class="col">
                                    <h5 class="mb-1">Redcompra **** 3966</h5>
                                    <p class="mb-0">Pagas $ 36,732 CLP</p>
                                    <p class="mb-0">Tu pago será procesado al instante de manera segura.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Resumen de la compra -->
                <div class="card mb-3">
                    <div class="card-header">
                        Resumen de la compra
                    </div>
                    <div class="card-body">
                        <!-- Aquí va un resumen de la compra, como el precio total, impuestos, descuentos, etc. -->
                        <div class="d-flex mb-1">
                            <div class="me-auto">Productos (3)</div>
                            <div>$ 36,732 CLP</div>
                        </div>
                        <div class="d-flex mb-1">
                            <div class="me-auto">Envío</div>
                            <div>Gratis</div>
                        </div>
                        <hr>
                        <div class="d-flex mb-1">
                            <div class="me-auto">Pagas</div>
                            <div>$ 36,732 CLP</div>
                        </div>
                    </div>
                </div>

                <!-- Botón de confirmar compra -->
                <div class="card mb-3">
                    <div class="card-body">
                        <button type="button" class="btn btn-custom rounded-0 btn-lg btn-block">Confirmar
                            compra</button>
                        <a type="button" href=""
                            class="btn btn-custom-1 border-custom-1 rounded-0 btn-lg btn-block">Cancelar
                            compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}

</body>

</html>