<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
</head>

<body>
   {% block title %}
   <style>
      body {
         padding-top: 75px;
         background-color: #EDEDED;
      }
   </style>
   <!-- Menu Lateral -->
   <div class="container-fluid col-md-2 navbar-profile-color sidebar phs">
      <div class="row">
         <div>
            <div class="pt-3 pb-2 mb-3 border-bottom justify-content-center">
               <div
                  class="d-flex align-items-center ms-2 pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
                  <div class="d-flex align-content-center">
                     <div class="col-auto">
                        <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                     </div>
                     <div class="col">
                        <h5> Mi Cuenta </h5>
                     </div>
                  </div>
               </div>
               <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                     <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                        <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                        General
                     </button>
                     <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                           <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                           <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
                  </li>
                  <li><a href="{% url 'ong' %}" class="link-dark rounded">ONG</a></li>
               </ul>
            </div>
            </li>
            <li class="mb-1">
               <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse" aria-expanded="false">
                  <i class="fa-sharp fa-solid fa-clipboard me-1" style="color: #000000;"></i>
                  Ventas
               </button>
               <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                     <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                     <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
                  </ul>
               </div>
            </li>
            <li class="mb-1">
               <a href="{% url 'h_buy' %}">
                  <button class="btn btn-toggle rounded">
                     <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                     Compras
                  </button>
               </a>
            </li>
            </ul>
         </div>
      </div>
   </div>
   </div>
   <!-- Version Movil -->
   <div
      class="container-fluid sidebar col-1 mhs navbar-profile-color mb-3 align-items-center flex-column text-center pt-2 g-0">
      <div class="sidebar-icon" id="menu">
         <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars"></i>
         </a>
      </div>
      <div class="sidebar-icon" id="Home">
         <i class="fa-solid fa-user" style="color: #000000;"></i>
      </div>
      <div class="sidebar-icon" id="icon2">
         <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
      </div>
      <div class="sidebar-icon" id="icon3">
         <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
      </div>
      <div class="sidebar-icon" id="icon4">
         <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
      </div>
   </div>
   <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
         <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
         <div class="pt-3 pb-2 mb-3 border-bottom">
            <a href="#"
               class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
               <div class="d-flex align-content-center">
                  <div class="col-auto">
                     <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                  </div>
                  <div class="col">
                     <h5> Mi Cuenta </h5>
                  </div>
               </div>
            </a>
            <ul class="list-unstyled ps-0">
               <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                     data-bs-target="#home-collapse" aria-expanded="false">
                     <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                     General
                  </button>
                  <div class="collapse" id="home-collapse">
                     <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                        <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                        <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
               </li>
               <li><a href="{% url 'ong' %}" class="link-dark rounded">ONG</a></li>
            </ul>
         </div>
         </li>
         <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
               data-bs-target="#dashboard-collapse" aria-expanded="false">
               <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
               Ventas
            </button>
            <div class="collapse" id="dashboard-collapse">
               <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                  <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                  <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
               </ul>
            </div>
         </li>
         <li class="mb-1">
            <a href="{% url 'h_buy' %}">
               <button class="btn btn-toggle rounded">
                  <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                  Compras
               </button>
            </a>
         </li>
         </ul>
      </div>
   </div>
   </div>
   {% endblock title %}
   <!-- Buy History -->
   {% block body %}
   <div class="container-fluid col-md-10 offset-md-1 offset-lg-2 py-md-3 px-lg-5 pg-md-2 py-2 ps-5 px-4">
      <div class="px-md-3 mb-2">
         <div class="card rounded-0">
            <div class="container mt-3 py-2 px-3">
               <h2 class="vogue">Mis Compras</h2>
            </div>
         </div>
      </div>
      <div class="px-md-3">
         <div class="card rounded-0 p-3 mb-2">
            <div class="row">
               <div class="border-bottom">
                  <div class="row align-items-center p-2">
                     <div class="col-md-9 d-flex">
                        <img src="{% static 'core/img/prod2.jpg' %}" alt="prod3" class="img-icon me-2 history-border">
                        <div class="col">
                           <p class="mb-0 state-2">En Proceso</p>
                           <h5 class="mb-1">En menos de 4 Días</h5>
                           <p class="mb-0">Pala Manual FiberComp® 100S</p>
                        </div>
                     </div>
                     <div class="col-md-3 d-flex flex-column justify-content-end">
                        <a href="" type="button" class="btn history-btn-1 rounded-0 btn-lg mb-1">
                           Ver compra
                        </a>
                        <a href="" type="button" class="btn history-btn-2 rounded-0 btn-lg btn-hover"
                           data-bs-dismiss="modal">
                           Volver a comprar
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card rounded-0 p-3 mb-2">
            <div class="row">
               <div class="border-bottom">
                  <div class="row align-items-center p-2">
                     <div class="col-md-9 d-flex">
                        <img src="{% static 'core/img/prod3.jpg' %}" alt="prod2" class="img-icon me-2 history-border">
                        <div class="col">
                           <p class="mb-0 state-1">En Camino</p>
                           <h5 class="mb-1">Antes del 11 de Abril</h5>
                           <p class="mb-0">Pistola Riego Plástica con Gatillo Trasero 100S</p>
                        </div>
                     </div>
                     <div class="col-md-3 d-flex flex-column justify-content-end">
                        <a href="" type="button" class="btn history-btn-1 rounded-0 btn-lg mb-1">
                           Ver compra
                        </a>
                        <a href="" type="button" class="btn history-btn-2 rounded-0 btn-lg btn-hover"
                           data-bs-dismiss="modal">
                           Volver a comprar
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card rounded-0 p-4 mb-2">
            <div class="row">
               <div class="border-bottom">
                  <div class="row align-items-center p-2">
                     <div class="col-md-9 d-flex">
                        <img src="{% static 'core/img/prod1.jpg' %}" alt="prod1" class="img-icon me-2 history-border">
                        <div class="col">
                           <p class="mb-0 state-0">Entregado</p>
                           <h5 class="mb-1">Llegó el 2 de Marzo</h5>
                           <p class="mb-0">Tijeras de Podar</p>
                        </div>
                     </div>
                     <div class="col-md-3 d-flex flex-column justify-content-end">
                        <a href="{% url 'h_prod' %}" type="button" class="btn history-btn-1 rounded-0 btn-lg mb-1">
                           Ver compra
                        </a>
                        <a href="" type="button" class="btn history-btn-2 rounded-0 btn-lg btn-hover"
                           data-bs-dismiss="modal">
                           Volver a comprar
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endblock body %}
</body>

</html>