<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
	{% block header %}
	<title>Oasis verde</title>
	{% endblock header %}
</head>

<body>
	<!-- Main Banner -->
	{% block title %}
	<div class="container-fluid mt-5 d-none d-md-block">
		<div class="row mx-auto px-5 py-5">
			<div class="col-md-8 my-auto px-5">
				<h1 class="vogue title-50">
					Encuentra eso <br> perfecto para tu jardín
				</h1>
				<p>
					Hermosas plantas que te <br> animan a ser creativo
				</p>
				<div class="py-2">
					<a type="button" href="" class="btn btn-dark btn-custom px-3 rounded-0">
						Comprar ahora
					</a>
				</div>
			</div>
			<div class="col-md-4 my-auto text-center px-3">
				<img src="{% static 'core/img/banner.png' %}" alt="Banner" class="img-fluid">
			</div>
		</div>
	</div>
	<!-- Mobile Banner -->
	<div class="container-fluid mt-5 d-md-none g-1">
		<div class="row mx-auto p-0 pt-5 pb-0">
			<div class="col-12 my-auto px-2">
				<h1 class="vogue title-35">
					Encuentra eso perfecto para tu jardín
				</h1>
				<p>
					Hermosas plantas que te animan a ser creativo
				</p>
				<div class="py-2 pb-4">
					<button type="button" class="btn btn-dark btn-custom px-3 rounded-0">
						Comprar ahora
					</button>
				</div>
				<div class="col-md-4 my-auto text-center px-0">
					<img src="{% static 'core/img/Banner_Movile.jpeg' %}" alt="Banner" class="img-fluid px-0">
				</div>
			</div>
		</div>
	</div>
	{% endblock title %}
	<!--------------------------------------------------------------------------------------------------------->
	<!-- Categories -->
	{% block body %}
	<div class="container">
		<h1 class="text-center mt-5 py-5 mx-auto vogue title-35">Categorías</h1>
		<div class="row mt-4">
			<div class="col-md-3 col-sm-6 text-center">
				<a href="">
					<img src="{% static 'core/img/herramientas_de_jardin.jpeg' %}" alt="Imagen 1"
						class="img-fluid h-75 opacity-hover">
					<h4 class="text-center mt-3 vogue title-25">Herramientas de jardín</h4>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<a href="">
					<img src="{% static 'core/img/tierra.jpeg' %}" alt="Imagen 2" class="img-fluid h-75 opacity-hover">
					<h4 class="text-center mt-3 vogue title-25">Tierra de abono</h4>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<a href="">
					<img src="{% static 'core/img/maceteros.jpeg' %}" alt="Imagen 3"
						class="img-fluid h-75 opacity-hover">
					<h4 class="text-center mt-3 vogue title-25">Maceteros</h4>
				</a>
			</div>
			<div class="col-md-3 col-sm-6 text-center">
				<a href="">
					<img src="{% static 'core/img/plantas_de_interior.jpeg' %}" alt="Imagen 4"
						class="img-fluid h-75 opacity-hover">
					<h4 class="text-center mt-3 vogue title-25">Plantas de interior</h4>
				</a>
			</div>
		</div>
	</div>
	<!--------------------------------------------------------------------------------------------------------->
	<!-- Productos -->
	<div class="container mt-5">
		<h1 class="text-center mb-4 py-5 vogue title-35">Nuestros Productos</h1>
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 mb-4">
				<h2 class="vogue title-35">Productos Destacados</h2>
				<a href="" class="vogue rounded-0 py-1 px-4 btn-custom-2 btn-hover">Ver todos</a>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 ">
				<a href="{% url 'producto' %}">
					<img src="{% static 'core/img/prod1.jpg' %}" alt="Imagen 1" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Tijeras de podar</h5>
					<h5 class="ttmoons">$9.990 CLP</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href="">
					<img src="{% static 'core/img/prod2.jpg' %}" alt="Imagen 2" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Pala Manual FiberComp® 100S</h5>
					<h5 class="ttmoons">$6.490 CLP</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href=""><img src="{% static 'core/img/prod3.jpg' %}" alt="Imagen 3" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Pistola Riego Plástica con Gatillo Trasero 100S</h5>
					<h5 class="ttmoons">$9.990 CLP</h4>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 mb-4">
				<a href=""><img src="{% static 'core/img/prod4.jpg' %}" alt="Imagen 4" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Aspersor de Riego Rectangular</h5>
					<h5 class="ttmoons">$28.480 CLP</h5>
					<br>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href=""><img src="{% static 'core/img/prod5.jpg' %}" alt="Imagen 5" class="img-fluid opacity-hover "
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Rodilleras para Jardín Ultra-light</h5>
					<h5 class="ttmoons">$18.990 CLP</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href=""><img src="{% static 'core/img/prod6.jpg' %}" alt="Imagen 6" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Fertilizante para Rosas</h5>
					<h5 class="ttmoons">$12.000 CLP</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href=""><img src="{% static 'core/img/prod7.jpg' %}" alt="Imagen 7" class="img-fluid opacity-hover"
						style="width: 75%;"></a>
				<div>
					<h5 class="mt-3">Macetero Biodegradable Mediano Rojo</h5>
					<h5 class="ttmoons">$8.000 CLP</h5>
				</div>
			</div>
		</div>
	</div>
	{% endblock body %}

	<!--------------------------------------------------------------------------------------------------------->
	<!-- Footer -->
	{% block foot %}
	<footer class="bg-white py-4 border-footer-custom">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<h4 class="text-uppercase mb-4 ttmoons-black">Oasis Verde</h4>
				</div>
			</div>
			<div class="row justify-content-center d-md-none">
				<div class="col-12">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li>Instagram</li>
						<li>Facebook</li>
					</ul>
					<h5 class="text-uppercase mb-0 title-15 letter-gray mt-4">Sobre nosotros</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li><a href="#">Quiénes somos</a></li>
						<li><a href="#">Nuestros valores</a></li>
						<li><a href="#">Política de privacidad</a></li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center d-none d-md-flex">
				<div class="col-6 col-md-2">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li>Instagram</li>
						<li>Facebook</li>
					</ul>
				</div>
				<div class="col-6 col-md-2">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Sobre nosotros</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li><a href="#">Política de privacidad</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	{% endblock foot %}

	<!-- JQuery -->
	{% block js %}
	<script src="{% static 'core/js/lg_jq.js' %}"></script> 
	{% endblock js %}
</body>

</html>