<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
	{% block header %}
	<title>Sonrisas para Niños</title>
	{% endblock header %}
</head>

<body style="padding-top: 75px;">
	<!-- Main Content -->
	{% block body %}
	<div class="container-fluid px-md-5 pb-5" style="text-align: justify;">
		<div class="text-center pt-4 pb-md-0 pb-3">
			<h2 class="vogue">Sonrisas para Niños</h2>
		</div>
		<div class="px-md-5 pt-md-3">
			<p class="px-md-3">La ONG "Sonrisas para Niños" es una organización sin fines de lucro orientada a mejorar
				la calidad de
				vida de los niños. Su misión es proporcionar acceso a servicios básicos, educación y atención médica a
				los niños más vulnerables en comunidades de bajos recursos.</p>
		</div>
		<div class="text-center py-md-3">
			<button type="button" class="btn history-btn-1 rounded-0 btn-lg px-4 my-4">¡QUIERO APORTAR!</button>
		</div>
		<div class="px-md-5 pt-md-3">
			<p class="px-md-3">Si decides realizar aportes de forma mensual recibiras un descuento en todas tus compras.
			</p>
		</div>
		<div class="text-center py-md-3 py-4">
			<img src="{% static 'core/img/ong.png' %}" alt="ong" class="img-fluid">
		</div>
		<div class="px-md-5 pt-md-3">
			<p class="px-md-3">La organización también busca fomentar el desarrollo emocional y psicológico de los niños
				a través de actividades lúdicas y programas de apoyo. Con el compromiso y la dedicación de sus
				voluntarios y colaboradores, "Sonrisas para Niños" se esfuerza por brindar un futuro mejor y más
				brillante para los niños más necesitados.
			</p>
		</div>
	</div>
	{% endblock body %}

	<!-- Footer -->
	{% block foot %}
	<footer class="bg-white py-4 border-footer-custom">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<h4 class="text-uppercase mb-4 ttmoons-black">Oasis Verde</h4>
				</div>
			</div>
			<div class="row justify-content-center d-md-none">
				<div class="col-12">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li>Instagram</li>
						<li>Facebook</li>
					</ul>
					<h5 class="text-uppercase mb-0 title-15 letter-gray mt-4">Sobre nosotros</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li><a href="#">Quiénes somos</a></li>
						<li><a href="#">Nuestros valores</a></li>
						<li><a href="#">Política de privacidad</a></li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center d-none d-md-flex">
				<div class="col-6 col-md-2">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li>Instagram</li>
						<li>Facebook</li>
					</ul>
				</div>
				<div class="col-6 col-md-2">
					<h5 class="text-uppercase mb-0 title-15 letter-gray">Sobre nosotros</h5>
					<ul class="list-unstyled mt-4 vogue">
						<li><a href="#">Política de privacidad</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	{% endblock foot %}

	<!-- JQuery -->
	{% block js %}
	{% comment %} <script src="{% static 'core/js/lg_jq.js' %}"></script> {% endcomment %}
	{% endblock js %}
</body>

</html>