<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_pr.html' %}
{% load static %}

<head>
</head>

<body class="profile-color" style="padding-top: 75px;">
   <!-- Account Form -->
   {% block body %}
   
   <div class="container-fluid col-md-10 offset-md-1 offset-lg-2 py-md-3 px-lg-5 pg-md-2 py-2 ps-5 px-4">
      <div class="px-md-5 mb-2">
         <div class="card rounded-0">
            <div class="container mt-3 py-2 px-4">
               <h2 class="vogue">Datos de la Cuenta</h2>
            </div>
         </div>
      </div>
      <div class="px-md-5">
         <div class="card rounded-0 p-4">
            <!--Form -->
            <form class="align-content-center" method="post" id="ai-form">
               {% csrf_token %}
               <div class="row">
                  <div class="border-bottom">
                     <div class="col-md-12 mb-3 mt-3 d-flex row">
                        <div class="col-1">
                           <label for="alias" class="form-label me-3"><strong> Alias </strong></label>
                        </div>
                        <div class="col-12 col-xxl-11">
                           <input type="text" class="form-control rounded-0 border-custom-2" id="ai-alias" name="alias"
                              value="Alexio" required>
                        </div>
                     </div>
                  </div>

                  <div class="border-bottom">
                     <div class="col-md-12 mb-3 mt-3  d-flex row">
                        <div class="col-xxl-1 col-12">
                           <label for="correo" class="form-label me-3" place><strong> Correo
                                 Electrónico</strong></label>
                        </div>
                        <div class="col-12 col-xxl-11">
                           <input type="text" class="form-control rounded-0 border-custom-2" id="ai-email" name="correo"
                              required value="al.silvab@duocuc.cl">
                        </div>
                     </div>
                  </div>
                  <div class="border-bottom">
                     <div class="col-md-12 mb-3 mt-3 d-flex row">
                        <div class="col-12 col-xxl-1">
                           <label for="password" class="form-label me-3"><strong> Modificar Contraseña</strong></label>
                        </div>
                        <div class="col-12 col-xxl-11">
                           <input type="password" class="form-control rounded-0 border-custom-2" id="ai-password"
                              name="password" required value="Papite3185*">
                        </div>
                     </div>
                  </div>
               </div>
               <p class="warnings mt-2" id="ai-w"></p>
               <button class="btn btn-dark rounded-0 mt-3" type="submit">Guardar</button>
            </form>

         </div>
      </div>
   </div>
   {% endblock body %}
   <!-- JQuery -->
   {% block js %}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'core/js/ai_jq.js' %}"></script>
   <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> 
   {% endblock js %}
</body>

</html>