<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_pr.html' %}
{% load static %}

<head>
</head>

<body class="profile-color" style="padding-top: 75px;">
    {% block title %}
        <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    {% endblock title %}
    <!-- Account Form -->
    {% block body %}
    <div class="container-fluid col-md-10 offset-md-1 offset-lg-2 py-md-3 px-lg-5 pg-md-2 py-2 ps-5 px-4 ">
        <div class="px-md-5 mb-2">
            <div class="card rounded-0">
                <div class="container mt-3 py-2 px-4">
                    <h2 class="vogue">Método de Pago</h2>
                </div>
            </div>
        </div>
        <div class="px-md-5">
            <div class="card rounded-0 p-4">
                <form action="{% url 'registrarTarjeta' %}"  class="align-content-center" method="post" id="pp-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-4">
                                    <label for="n_tarjeta" class="form-label me-3"><strong>Número Tarjeta</strong>
                                    </label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="text" class="form-control rounded-0 border-custom-2" id="pp-nroTarjeta"
                                        name="n_tarjeta" required value="6574 0983 8976 4567">
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <label for="f_venc" class="form-label me-3 mt-2"><strong>Fecha de
                                    Vencimiento</strong> </label>
                            <div class="col-md-12 mb-3 mt-2 d-flex row">
                                <div class="col-2">
                                    <input type="number" class="form-control rounded-0 border-custom-2 intNumber"
                                        min="1" max="12" id="pp-fecVencMes" name="f1_venc" required value="02">
                                </div>
                                <div class="col-1 d-flex align-items-center justify-content-center">
                                    <label for="f_venc"><strong>/</strong> </label>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control rounded-0 border-custom-2 intNumber"
                                        min="23" max="30" id="pp-fecVencAnio" name="f2_venc" required value="26">
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-1">
                                    <label for="cds" class="form-label me-2"><strong>CVV</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="password" class="form-control rounded-0 border-custom-2" id="pp-codigo"
                                        name="cds" required value="765">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="warnings mt-2" id="pp-w"></p>
                    <button class="btn btn-dark rounded-0 mt-3" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock body %}


    <!-- JQuery -->
    {% block js %}
    <script src="{% static 'core/js/pp_jq.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock js %}
</body>
</html>