<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}


<head>
    {% block header %}
    <title>Tijeras de Podar</title>
    <style>
        .input-group-prepend,
        .input-group-append {
            display: flex;
        }

        .input-group-prepend .btn,
        .input-group-append .btn {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 1px;
            border-color: #000;
            color: #000;
        }

        .input-group-prepend .btn:focus,
        .input-group-append .btn:focus {
            outline: 0;
            box-shadow: none;
            border-color: #000000;
        }

        .form-control {
            border-radius: 0;
        }
    </style>
    {% endblock header %}
</head>

<body>
    {% block title %}
    <style>
        body {
            padding-top: 100px;
        }
    </style>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'alert-success' %}
    <script>
        Swal.fire({
            "icon": "success",
            "text": "{{ message }}",
            "confirmButtonColor": "#15AE00"
        });
    </script>
    {% elif message.tags == 'alert-danger' %}
    <script>
        Swal.fire({
            "icon": "error",
            "text": "{{ message }}",
            "confirmButtonColor": "#FF0000"
        });
    </script>
    {% elif message.tags == 'alert-warning' %}
    <script>
        Swal.fire({
            "icon": "warning",
            "text": "{{ message }}",
            "confirmButtonColor": "#FFC107"
        });
    </script>
    {% else %}
    <script>
        Swal.fire({
            "icon": "info",
            "text": "{{ message }}",
            "confirmButtonColor": "#007BFF"
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endblock title %}
    {% block body %}
    <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="container my-4">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <img src="{{ p.prod_imagen.url }}" class="img-fluid border-custom-1">
            </div>
            <div class="col-md-6 pt-md-0 pt-4">
                <p class="letter-gray title-15">{{ p.prod_stock }} En Stock</p>
                <hr>
                <h1 class="vogue">{{ p.prod_nom }}</h1>
                <br>
                <h1 class="font-weight-bold ttmoons">${{ p.prod_precio }} CLP</h1>
                <hr>
                <form action="{% url 'registrarDetalle' p.id_prod p.prod_precio %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark rounded-0" type="button"
                                    id="restarCantidad">-</button>
                            </div>
                            <input type="number" class="form-control rounded-0 text-center border-custom-1" id="cant"
                                name="cantidad" placeholder="1" min="1" value="1" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark rounded-0" type="button"
                                    id="sumarCantidad">+</button>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-custom rounded-0">Agregar al carrito</button>
                        <a type="button" href="" class="btn btn-custom-1 rounded-0 border-custom-1">Comprar ahora</a>
                </form>
            </div>
        </div>
        <div class="pt-3">
            <hr>
        </div>
        <div class="row pt-4">
            <div class="col-12 pt-5">
                <h1 class="vogue text-center">Descripción del Producto</h1>
            </div>
            <div class="col-12 justify-content-center pt-5" style="text-align: justify;">
                <p>{{ p.prod_descripcion }}</p>
            </div>
        </div>
    </div>
    </div>
    {% endblock body %}
    {% block foot %}
    <!-- Footer -->
    <footer class="bg-white py-4 border-footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h4 class="text-uppercase mb-4 ttmoons-black">Oasis Verde</h4>
                </div>
            </div>
            <div class="row justify-content-center d-md-none">
                <div class="col-12">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                    <h5 class="text-uppercase mb-0 title-15 letter-gray mt-4">Sobre nosotros</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a href="#">Nuestros valores</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center d-none d-md-flex">
                <div class="col-6 col-md-2">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Contactanos</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li>Instagram</li>
                        <li>Facebook</li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <h5 class="text-uppercase mb-0 title-15 letter-gray">Sobre nosotros</h5>
                    <ul class="list-unstyled mt-4 vogue">
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock foot %}
    {% block js %}
    <script>
        const inputCantidad = document.getElementById('cantidad');
        const btnSumarCantidad = document.getElementById('sumarCantidad');
        const btnRestarCantidad = document.getElementById('restarCantidad');

        btnSumarCantidad.addEventListener('click', () => {
            inputCantidad.stepUp();
        });

        btnRestarCantidad.addEventListener('click', () => {
            inputCantidad.stepDown();
        });
    </script>
    {% endblock js %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XwpS9aJ7U8U2tG2"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity></script>
</body>

</html>