<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}
<head>
    {% block header %}
	<title>Mi Perfil</title>
	{% endblock header %}
</head>

<body>
    {% block title %}
	<style>
		body {
			padding-top: 75px;
            background-color: #EDEDED;
		}
	</style>
    <!-- Menu Lateral -->
    <div class="container-fluid col-md-2 navbar-profile-color sidebar phs">
        <div class="row">
            <div>
                <div class="pt-3 pb-2 mb-3 border-bottom justify-content-center">
                    <div
                        class="d-flex align-items-center ms-2 pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
                        <div class="d-flex align-content-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                            </div>
                            <div class="col">
                                <h5> Mi Cuenta </h5>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                                General
                            </button>
                            <div class="collapse" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                    <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                                    <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>   
                                    </li>
                                    <li><a href="{% url 'ong' %}" class="link-dark rounded">ONG</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                <i class="fa-sharp fa-solid fa-clipboard me-1" style="color: #000000;"></i>
                                Ventas
                            </button>
                            <div class="collapse" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                    <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                                    <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <a href="{% url 'h_buy' %}">
                                <button class="btn btn-toggle rounded">
                                    <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                                    Compras
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Version Movil -->
    <div
        class="container-fluid sidebar col-1 mhs navbar-profile-color mb-3 align-items-center flex-column text-center pt-2 g-0">
        <div class="sidebar-icon" id="menu">
            <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <div class="sidebar-icon" id="Home">
            <i class="fa-solid fa-user" style="color: #000000;"></i>
        </div>
        <div class="sidebar-icon" id="icon2">
            <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
        </div>
        <div class="sidebar-icon" id="icon3">
            <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
        </div>
        <div class="sidebar-icon" id="icon4">
            <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <a href="#"
                    class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
                    <div class="d-flex align-content-center">
                        <div class="col-auto">
                            <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                        </div>
                        <div class="col">
                            <h5> Mi Cuenta </h5>
                        </div>
                    </div>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                            General
                        </button>
                        <div class="collapse" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                                <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
                                </li>
                                <li><a href="{% url 'ong' %}" class="link-dark rounded">ONG</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
                            Ventas
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                                <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
                                </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <a href="{% url 'h_buy' %}">
                            <button class="btn btn-toggle rounded">
                                <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                                Compras
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	{% endblock title %}
    <!--------------------------------------------------------------------------------------------------------->
    <!-- Account Conf -->
    {% block body %}
    <div class="container-fluid col-md-10 offset-md-1 offset-lg-2 py-md-3 px-lg-5 pg-md-2 py-2 ps-5 px-5">
        <div class="px-md-5">
            <div class="card rounded-0">
                <div class="container mt-3 py-2 px-4">
                    <h2 class="vogue">Bienvenido de nuevo, {{ user.username }}</h2>
                </div>
            </div>
            <br>
            <div class="card rounded-0">
                <a href="{% url 'userInfo' %}">
                    <div class="row align-items-center p-4">
                        <div class="col-auto px-4">
                            <i class="fa-sharp fa-solid fa-circle-user fa-2xl" style="color: #000000;"></i>
                        </div>
                        <div class="col">
                            <h5 class="mb-1">Información Personal</h5>
                            <p class="mb-0">Verifica o Edita tus datos</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'userAcc' %}">
                    <div class="row align-items-center p-4">
                        <div class="col-auto px-4">
                            <i class="fa-sharp fa-solid fa-gear fa-2xl" style="color: #000000;"></i>
                        </div>
                        <div class="col">
                            <h5 class="mb-1">Configuración de la Cuenta</h5>
                            <p class="mb-0">Configuración e Información general</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'ong' %}">
                    <div class="row align-items-center p-4">
                        <div class="col-auto px-4">
                            <i class="fa-sharp fa-solid fa-handshake-angle fa-2xl" style="color: #000000;"></i>
                        </div>
                        <div class="col">
                            <h5 class="mb-1">Suscripciones</h5>
                            <p class="mb-0">Suscripción y donación a la ONG</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>

</html>