<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}	
{% load static %}

<head>
	{% block header %}
	<title>Olvide Mi Contraseña</title>
	{% endblock header %}
</head>

<body>
	{% block title %}
	<style>
		body{
			padding-top: 100px;
			background-color: #EDEDED;
		}
	</style>
    {% endblock title %}
	
	{% block body %}
	<div class="container col-md-5 col-sm-8 col-10 card rounded-0 p-md-4 mt-5 p-3 ttjenevers">
		<h2 class="vogue">He olvidado mi contraseña</h2>
		<form>
			{% csrf_token %}
			<div class="form-group mb-2">
				<label for="email">Email: </label>
				<input type="email" class="form-control rounded-0 border-custom-2" id="po-email"
					placeholder="Ingrese su email" name="email">
				<br><br>
			</div>
			<p class="warnings mt-2" id="pi-w2"></p>
			<button type="submit" class="btn btn-custom rounded-0 btn-hover" id="po-btn" disabled> <a
					data-bs-toggle="modal" data-bs-target="#Passwordpop"> Enviar correo</a></button>
		</form>
	</div>
	<!-- Modal -->
	<div class="modal fade " id="Passwordpop" tabindex="-1" aria-labelledby="popupa" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body ttjenevers">
					<div class="form-outline mb-4 m-2">
						<h2 class="mb-3 vogue" style="text-align: center;">Se ha enviado un correo</h2>
						<p style="text-align: justify;">Revisa tu correo electrónico para la recuperación de tu
							contraseña</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-custom-2 border-custom-1 rounded-0 btn-hover"
						data-bs-dismiss="modal">Volver</button>
					<a href="">
						<button type="submit" class="btn btn-custom rounded-0">Ingresar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endblock body %}

	<!-- Jquerry JS-->
	{% block js %}
	<script src="{% static 'core/js/po_jq.js' %}"></script>
	{% endblock js %}
</body>

</html>