<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
    {% block header %}
    <title>Buscar Productos</title>
    {% endblock header %}
</head>

<body>
    {% block title %}
	<style>
		body{
			padding-top: 100px;
			background-color: #EDEDED;
		}
	</style>
    {% endblock title %}
    <!-- Search Engine -->
    {% block body %}
    <div class="container-fluid py-md-4">
        <div class="row">
            <div class="col-md-3 pb-2 col-md-3 pb-2 pt-md-0 pt-2">
                <div class="card rounded-0">
                    <div class="ms-3 mt-3">
                        <h4 class="vogue">Categorías</h5>
                    </div>
                    <div>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ttmoons ms-4">
                            <li><a class="link-dark rounded" href="">Herramientas de Cultivo</a></li>
                            <li><a class="link-dark rounded" href="">Tierra</a></li>
                            <li><a class="link-dark rounded" href="">Maceteros</a></li>
                            <li><a class="link-dark rounded" href="">Plantas</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="link-dark rounded" href="">Ver Todo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card rounded-0">
                    {% for p in listado %}
                    <div class="row px-3">
                        <div class="border-bottom">
                            <div class="row align-items-center py-2">
                                <a href="{% url 'product1' p.id_prod %}">
                                    <div class="col-md-9 d-flex">
                                        <img src="{{ p.prod_imagen.url }}" alt="prod3"
                                            class="img-search me-2 mt-md-auto mt-4">
                                        <div class="col my-md-1">
                                            <h5 class="mb-0 mt-3 vogue">{{ p.prod_nom }}</h5>
                                            <p class="mb-1 state-1 ttmoons">{{ p.categoria.cat_nom }}</p>
                                            <h5 class="mb-0 ttmoons">${{ p.prod_precio }} CLP</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
    <!--------------------------------------------------------------------------------------------------------->
	<!-- JQuery -->
	{% block js %}
	{% comment %}
	<script src="{% static 'core/js/lg_jq.js' %}"></script> {% endcomment %}
	{% endblock js %}
</body>

</html>