<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block header %}
	{% endblock header %}
	<!-- Bootstrap y CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'core/css/Style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vogue">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=TT Moons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/2d6d5bfb49.js" crossorigin="anonymous"></script>
	<!-- SweetAlert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
</head>

<body>
	<!-- Nav bar sin -->
	<nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom" style="z-index: 5;">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'index' %}">
				<img src="{% static 'core/img/Logo.png' %}" alt="Logo" class="logo">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Categorías
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for c in listaCategorias %}
							<li><a class="dropdown-item" href="{% url 'search' c.id_cat %}">{{ c.cat_nom }}</a></li>
							{% endfor %}
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="{% url 'search' 5 %}">Ver Todo</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item flex-grow-1">
						<form class="d-flex flex-grow-1" action="{% url 'buscar' %}" method="POST">
							{% csrf_token %}
							<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="buscar">
							<button class="btn btn-outline-success rounded-0" type="submit">Buscar</button>
						</form>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.username }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'profile' %}">Mi Perfil</a></li>
							<li><a class="dropdown-item" href="{% url 'h_buy' %}">Mis Compras</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDerecho"
							aria-controls="offcanvasRight">Iniciar sesión</a>
					</li>
					{% endif %}

					<!--OFFCANVAS LOGIN-->
					<div class="offcanvas offcanvas-end mmenu" tabindex="-1" id="offcanvasDerecho"
						aria-labelledby="offcanvasRightLabel">
						<div class="offcanvas-header">
							<h4 class="offcanvas-title vogue" id="offcanvasRightLabel">Bienvenido De Nuevo </h4>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
								aria-label="Close"></button>
						</div>
						<hr>
						<div class="offcanvas-body">
							<form action="{% url 'iniciar_sesion' %}" method="POST">
								{% csrf_token %}
								<!-- Email  -->
								<div class="form-outline mb-4">
									<input type="text" name="email" id="Email_imp"
										class="form-control rounded-0 border-custom-1" />
									<label class="form-label" for="Email_imp_label">Nombre de Usuario</label>
								</div>
								<!-- Contraseña -->
								<div class="form-outline mb-2">
									<input type="password" name="password" id="Password_imp"
										class="form-control rounded-0 border-custom-1" />
									<label class="form-label" for="Password_imp_label">Contraseña</label>
								</div>
								<div class="row mb-2">
									<div class="col">
										<a class="link-hover" href="{% url 'pss_fg' %}">¿Olvidaste tu contraseña?</a>
									</div>
								</div>
								<div class="d-flex gap-2">
									<button type="submit" class="btn btn-dark rounded-0 btn-custom btn-lg w-50"
										id="Ingresar_imp">Ingresar</button>
									<button type="button"
										class="btn rounded-0 btn-custom-1 border-custom-1 btn-lg w-50 btn-hover"
										data-bs-dismiss="modal">
										<a href="{% url 'create_acc' %}">
											Registrarme
										</a>
									</button>
								</div>
							</form>
						</div>
					</div>
					<!--FIN DEL OFF CANVAS PARA MOVERLO-->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'cart' %}">
							<i class="bi bi-cart-fill"></i> Carrito
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- ----------------------------------------------------------------------------------------------------- -->
	{% block title %}
	{% endblock title %}

	{% block body %}
	{% endblock body %}
	<!-- ----------------------------------------------------------------------------------------------------- -->
	{% block foot %}
	{% endblock foot %}

	<!-- JQuery -->
	{% block js %}
	{% endblock js %}
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</body>

</html>