<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
    <!-- JavaScript Bundle with Popper -->
    {% block header %}

    {% endblock header %}
</head>

<body>
    {% block title %}
    <style>
        body {
            padding-top: 75px;
            background-color: #EDEDED;
        }
    </style>
    <!-- Menu Lateral -->
    <div class="container-fluid col-md-2 navbar-profile-color sidebar phs">
        <div class="row">
            <div>
                <div class="pt-3 pb-2 mb-3 border-bottom justify-content-center">
                    <div
                        class="d-flex align-items-center ms-2 pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
                        <div class="d-flex align-content-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                            </div>
                            <div class="col">
                                <h5> Mi Cuenta </h5>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                                General
                            </button>
                            <div class="collapse" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                    <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                                    <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
                        </li>
                    </ul>
                </div>
                </li>
                {% if request.session.lvl == 'Vendedor' %}
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                        <i class="fa-sharp fa-solid fa-clipboard me-1" style="color: #000000;"></i>
                        Ventas
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                            <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                            <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
                            <li><a href="{% url 'vend_create' %}" class="link-dark rounded">Crear Vendedor</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                <li class="mb-1">
                    <a href="{% url 'h_buy' %}">
                        <button class="btn btn-toggle rounded">
                            <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                            Compras
                        </button>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- Version Movil -->
    <div
        class="container-fluid sidebar col-1 mhs navbar-profile-color mb-3 align-items-center flex-column text-center pt-2 g-0">
        <div class="sidebar-icon" id="menu">
            <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <div class="sidebar-icon" id="Home">
            <i class="fa-solid fa-user" style="color: #000000;"></i>
        </div>
        <div class="sidebar-icon" id="icon2">
            <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
        </div>
        {% if request.session.lvl == 'Vendedor' %}
        <div class="sidebar-icon" id="icon3">
            <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
        </div>
        {% endif %}
        <div class="sidebar-icon" id="icon4">
            <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <a href="#"
                    class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
                    <div class="d-flex align-content-center">
                        <div class="col-auto">
                            <i class="fa-solid fa-user me-2" style="color: #000000;"></i>
                        </div>
                        <div class="col">
                            <h5> Mi Cuenta </h5>
                        </div>
                    </div>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                            General
                        </button>
                        <div class="collapse" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                                <li><a href="{% url 'userInfo' %}" class="link-dark rounded">Personal</a></li>
                                <li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
                    </li>
                </ul>
            </div>
            </li>
            {% if request.session.lvl == 'Vendedor' %}
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
                    Ventas
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                        <li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
                        <li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
                        <li><a href="{% url 'vend_create' %}" class="link-dark rounded">Crear Vendedor</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
            <li class="mb-1">
                <a href="{% url 'h_buy' %}">
                    <button class="btn btn-toggle rounded">
                        <i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
                        Compras
                    </button>
                </a>
            </li>
            </ul>
        </div>
    </div>
    </div>
    {% endblock title %}
    <!-- Add Form -->
    {% block body %}
    <div class="container-fluid col-md-10 offset-md-2 col-11 offset-1 py-md-3 px-md-5 py-1 px-3">
        <div class="px-md-5 mb-2">
            <div class="card rounded-0">
                <div class="container mt-3 ms-3 py-2 px-1">
                    <h2 class="vogue">Agregar Producto</h2>
                </div>
            </div>
        </div>
        <div class="px-md-5">
            <div class="card rounded-0 p-4">
                <form action="{% url 'registrarProducto' %}" method="post" class="align-content-center" id="sa-form"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!--                         <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-1">
                                    <label for="ID" class="form-label me-3"><strong> ID </strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="text" class="form-control rounded-0 border-custom-2" id="sa-id"
                                        name="ID" placeholder="" required>
                                </div>
                            </div>
                        </div> -->
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3  d-flex row">
                                <div class="col-xxl-1 col-12">
                                    <label for="nombre" class="form-label me-3" place><strong>Nombre</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="text" class="form-control rounded-0 border-custom-2" id="sa-nombre"
                                        name="nombre" required>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3  d-flex row">
                                <div class="col-12 col-xxl-1">
                                    <label for="desc" class="form-label me-3"><strong>Descripción</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <textarea type="text" class="form-control rounded-0 border-custom-2" id="sa-desc"
                                        name="desc" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-12 col-xxl-1">
                                    <label for="precio" class="form-label me-3"><strong>Precio</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="number" class="form-control rounded-0 border-custom-2" id="sa-precio"
                                        name="precio" required>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-12 col-xxl-1">
                                    <label for="stock" class="form-label me-3"><strong>Stock</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="number" class="form-control rounded-0 border-custom-2" id="sa-stock"
                                        name="stock" required>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 d-flex row">
                                <div class="col-12 col-xxl-1">
                                    <label for="imagen" class="me-3"><strong>Seleccionar imagen:</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <input type="file" id="sa-img" class="rounded-0 border-custom-2" name="imagen"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom">
                            <div class="col-md-12 mb-3 mt-3 row d-flex align-items-start">
                                <div class="col-1">
                                    <label for="categoria" class="form-label me-3"><strong>Categoría</strong></label>
                                </div>
                                <div class="col-12 col-xxl-11">
                                    <select class="form-select rounded-0 border-custom-2" id="categoria" name="sa-cat"
                                        required>
                                        <option value="">Seleccione una categoría</option>
                                        <option value="1">Herramientas de Cultivo</option>
                                        <option value="2">Tierra</option>
                                        <option value="3">Maceteros</option>
                                        <option value="4">Semillas</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="warnings mt-2" id="sa-w"></p>
                    <button class="btn btn-dark rounded-0 mt-3" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock body %}

    <!--------------------------------------------------------------------------------------------------------->
    <!-- JQuery -->
    {% block js %}
    <script src="{% static 'core/js/sa.jq.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js%22%3E"></script>
    {% endblock js %}
</body>

</html>