<!DOCTYPE html>
<html lang="en">
{% extends 'core/temp_topm_lo.html' %}
{% load static %}

<head>
</head>

<body>
	{% block title %}
	<style>
		body {
			padding-top: 75px;
			background-color: #EDEDED;
		}
	</style>
	{% if messages %}
	{% for message in messages %}
	{% if message.tags == 'alert-success' %}
	<script>
		Swal.fire({
			"icon": "success",
			"text": "{{ message }}",
			"confirmButtonColor": "#15AE00"
		});
	</script>
	{% elif message.tags == 'alert-danger' %}
	<script>
		Swal.fire({
			"icon": "error",
			"text": "{{ message }}",
			"confirmButtonColor": "#FF0000"
		});
	</script>
	{% elif message.tags == 'alert-warning' %}
	<script>
		Swal.fire({
			"icon": "warning",
			"text": "{{ message }}",
			"confirmButtonColor": "#FFC107"
		});
	</script>
	{% else %}
	<script>
		Swal.fire({
			"icon": "info",
			"text": "{{ message }}",
			"confirmButtonColor": "#007BFF"
		});
	</script>
	{% endif %}
	{% endfor %}
	{% endif %}
	<!-- Menu Lateral -->
	<div class="container-fluid col-md-2 navbar-profile-color sidebar phs">
		<div class="row">
			<div>
				<div class="pt-3 pb-2 mb-3 border-bottom justify-content-center">
					<div
						class="d-flex align-items-center ms-2 pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
						<div class="d-flex align-content-center">
							<div class="col-auto">
								<i class="fa-solid fa-user me-2" style="color: #000000;"></i>
							</div>
							<div class="col">
								<h5> Mi Cuenta </h5>
							</div>
						</div>
					</div>
					<ul class="list-unstyled ps-0">
						<li class="mb-1">
							<button class="btn btn-toggle align-items-center rounded collapsed"
								data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
								<i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
								General
							</button>
							<div class="collapse" id="home-collapse">
								<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
									<li><a href="{% url 'p_info' %}" class="link-dark rounded">Personal</a></li>
									<li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
						</li>
					</ul>
				</div>
				</li>
				{% if request.session.lvl == 'Vendedor' %}
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
						data-bs-target="#dashboard-collapse" aria-expanded="false">
						<i class="fa-sharp fa-solid fa-clipboard me-1" style="color: #000000;"></i>
						Ventas
					</button>
					<div class="collapse" id="dashboard-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
							<li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
							<li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
							<li><a href="{% url 'vend_create' %}" class="link-dark rounded">Crear Vendedor</a></li>
						</ul>
					</div>
				</li>
				{% endif %}
				<li class="mb-1">
					<a href="{% url 'h_buy' %}">
						<button class="btn btn-toggle rounded">
							<i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
							Compras
						</button>
					</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<!-- Version Movil -->
	<div
		class="container-fluid sidebar col-1 mhs navbar-profile-color mb-3 align-items-center flex-column text-center pt-2 g-0">
		<div class="sidebar-icon" id="menu">
			<a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
				<i class="fa-solid fa-bars"></i>
			</a>
		</div>
		<div class="sidebar-icon" id="Home">
			<i class="fa-solid fa-user" style="color: #000000;"></i>
		</div>
		<div class="sidebar-icon" id="icon2">
			<i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
		</div>
		{% if request.session.lvl == 'Vendedor' %}
		<div class="sidebar-icon" id="icon3">
			<i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
		</div>
		{% endif %}
		<div class="sidebar-icon" id="icon4">
			<i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
		</div>
	</div>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<a href="#"
					class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-center">
					<div class="d-flex align-content-center">
						<div class="col-auto">
							<i class="fa-solid fa-user me-2" style="color: #000000;"></i>
						</div>
						<div class="col">
							<h5> Mi Cuenta </h5>
						</div>
					</div>
				</a>
				<ul class="list-unstyled ps-0">
					<li class="mb-1">
						<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
							data-bs-target="#home-collapse" aria-expanded="false">
							<i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
							General
						</button>
						<div class="collapse" id="home-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
								<li><a href="{% url 'p_info' %}" class="link-dark rounded">Personal</a></li>
								<li><a href="{% url 'userAcc' %}" class="link-dark rounded">Cuenta</a></li>
					</li>
				</ul>
			</div>
			</li>
			{% if request.session.lvl == 'Vendedor' %}
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
					data-bs-target="#dashboard-collapse" aria-expanded="false">
					<i class="fa-sharp fa-solid fa-clipboard" style="color: #000000;"></i>
					Ventas
				</button>
				<div class="collapse" id="dashboard-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
						<li><a href="{% url 'vent_ing' %}" class="link-dark rounded">Agregar</a></li>
						<li><a href="{% url 'vent_list' %}" class="link-dark rounded">Lista</a></li>
						<li><a href="{% url 'vend_create' %}" class="link-dark rounded">Crear Vendedor</a></li>
					</ul>
				</div>
			</li>
			{% endif %}
			<li class="mb-1">
				<a href="{% url 'h_buy' %}">
					<button class="btn btn-toggle rounded">
						<i class="fa-sharp fa-solid fa-bag-shopping" style="color: #000000;"></i>
						Compras
					</button>
				</a>
			</li>
			</ul>
		</div>
	</div>
	</div>
	{% endblock title %}
	<!-- List -->
	{% block body %}
	<div class="container-fluid col-md-10 offset-md-2 col-11 offset-1 py-md-3 px-md-5 py-1 px-3">
		<div class="px-md-5 mb-2">
			<div class="card rounded-0">
				<div class="container mt-3 py-2 px-1 ms-3">
					<h2 class="vogue">Todos los Productos</h2>
				</div>
			</div>
		</div>
		<div class="px-md-5 mb-2">
			<form class="d-flex flex-grow-1" action="{% url 'buscarProd' %}" method="POST">
				{% csrf_token %}
				<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="buscar">
				<button class="btn btn-outline-success rounded-0" type="submit">Buscar</button>
			</form>
		</div>
		<div class="px-md-5">
			<div class="card rounded-0 p-4 mb-2">
				{% for p in listado %}
				<div class="row">
					<div class="border-bottom">
						<div class="row align-items-center p-2">
							<div class="col-md-9 d-flex">
								<img src="{{ p.prod_imagen.url }}" alt="prod1" class="img-icon me-2 history-border">
								<div class="col ttjenevers">
									<h4 class="mb-1"><a href="{% url 'product1' p.id_prod %}">{{ p.prod_nom }}</a></h4>
									<h5 class="font-weight-bold ttmoons">${{ p.prod_precio }} CLP</h5>
									<p class="mb-0">Stock: {{ p.prod_stock }}</p>
								</div>
							</div>
							<div class="col-md-3 d-flex flex-column justify-content-end">
								<a href="{% url 'vent_edit' p.id_prod %}" class="btn btn-outline-success mb-1">Modificar</a>
								<a href="{% url 'eliminarProducto' p.id_prod %}" class="btn btn-danger">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock body %}
</body>

</html>